<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}ms-icon-144x144.png">
  <meta name="theme-color" content="#000000">

  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{ partial "main-menu-mobile.html" . }}
  <div id="wrapper" class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ partial "footer.html" . }}
  {{ partial "sub-footer.html" . }}

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}

  {{ partial "google-analytics.html" . }}

</body>
</html>
